<html>
	<head>
		<title>Overview</title>
		<link rel="stylesheet" href="../static/jquery-ui/jquery-ui.min.css">
		<link rel="stylesheet" href="../static/css/bxapp.css">
		<script src="jquery-ui/external/jquery/jquery.js"></script>
		<script src="jquery-ui/jquery-ui.min.js"></script>
	</head>
	<body>
		<div class="center">
			<div class="listItem">
				<table class="book" fr>
					<tr>
						<td rowspan=3 class="cover">
							<img src="{{ book.cover }}" class="bookcover" />
						</td>
						<th>
							{{ book.title }} by {{ book.authors }} - {{ book.year }}
							<br/>
							{{ book.subtitle }}
						</th>
						<td class="overview_isbn">
						</td>
					</tr>
					<tr>
						<td colspan=2>
							{{ book.description }}

						</td>
					</tr>
					<tr>
						<td> Price $10 </td>
						<td>Course CS210</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>