<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/css/main.css">
		<title>Book Specific</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>

		<div id="wrapper">
			<header>
				<div id="header-inner">
					<div id="logo">
						<a href="books_overview.html">bookXchange</a>
					</div>

					<ul>
						<li><a href="books_overview.html">Home</a></li>
						<li><a id="sign-in" href="#">Sign in</a>
							<span id="sign-in-menu">
								<div class="arrow-up"></div>
								<div class="arrow-up-top"></div>
								
								<div class="form">
									<input type="text" placeholder="Username">
									<input type="password" placeholder="Password">

									<input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
								  	<label for="checkboxG1" class="css-label">Remember me</label>
								</div>

								<div class="submit-area">
									<input type="submit" value="Sign up">
								</div>
							</span>
						</li>
						<li><a href="signup.html">Sign up</a>
							
						</li>
					</ul>
				</div>
			</header>

			<div id="content">
				<div class="post">
					<table class="book_spec" fr>
						<tr>
							<td rowspan=6 class="cover">
								<img src="../static/images/book3.jpg" class="bookcover" />
							</td>
							<td class="spec">
								<strong>Software Testing - Concept and Operations</strong>
							</td>
						</tr>
						<tr>
							<td class="spec">
								ISBN 233434343434
							</td>
						</tr>
						<tr>
							<td class="spec"> Price $20 </td>
						</tr>
						<tr>
							<td class="spec">Course CS312</td>
						</tr>
						<tr>
							<td class="spec">
								Story about blablbalba with sadfjksfjsaflkj skdjflkjsaf kjsafdlkjsaljf sjfdlksalfdkj kjalksjfdlkjsaf kjasdkjfasldjf kjadsflkjlsajfd kjdsaflkjaslkfdj kljasfdlkjsaldkfjlkjalsjdf lkjasdflkjsaldfj
							</td>
						</tr>
						<tr>
							<td class="spec">
								<div class="buyitdiv"><a href="#" class="buyit">Buy it</a><div>
							</td>
						</tr>
					</table>
				</div>

			</div>
		</div>

		<script>
			$(function() {
				$('#sign-in').click(function() { 
					$('#sign-in-menu').toggleClass('visible');
				});	
			});
		</script>

	</body>
</html>