<html>
	<head>
		<title>Overview</title>
		<link rel="stylesheet" href="../static/jquery-ui/jquery-ui.min.css">
		<link rel="stylesheet" href="../static/css/bxapp.css">
		<script src="jquery-ui/external/jquery/jquery.js"></script>
		<script src="jquery-ui/jquery-ui.min.js"></script>
	</head>
	<body>
		<div class="center">
			<div class="listItem">
				<table class="book" fr>
					<tr>
						<td rowspan=3 class="cover">
							<img src="../static/images/book1.jpg" class="bookcover" />
						</td>
						<th>
							Our Lent
						</th>
						<td class="overview_isbn">
						</td>
					</tr>
					<tr>
						<td colspan=2>
							Story about blablbalba with sadfjksfjsaflkj skdjflkjsaf kjsafdlkjsaljf sjfdlksalfdkj kjalksjfdlkjsaf kjasdkjfasldjf kjadsflkjlsajfd kjdsaflkjaslkfdj kljasfdlkjsaldkfjlkjalsjdf lkjasdflkjsaldfj
						</td>
					</tr>
					<tr>
						<td> Price $10 </td>
						<td>Course CS210</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>