<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/css/main.css">
		<title>Book Specific</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="header-inner">
					<div id="logo">
						<a href="/overview/">bookXchange</a>
					</div>

					<ul>
						<li><a href="/overview/">Home</a></li>
						{% if name != None %}
						<li><a href="/addBook/">Add Book</a></li>
						<li><a>logged in as {{ name }}</a> </li>
						<li><a href="/logout/">Logout</a>
						{% else %}
						<li><a href="/signin/">Sign in</a>
						<li><a href="/signUp/">Sign up</a>
						{% endif %}

						</li>
					</ul>
				</div>
			</header>

			<div class="content">
			{% for book in books %}

				<div class="post">
						
						
						<div class="post-content">
							<img class="bookcover" src="{{ book.cover }}" />
							<strong>{{ book.title }}</strong> by <strong>{{ book.authors }}</strong> - {{ book.year }}<br/>
							<br/>
							{{ book.description }}
							<br/><br/>

							{% if name != None %}

							<div class="inputs">
			                    <form action="#" method="get">
			                    	<div style="display:none;"><input type="isbn" value={{ book.isbn }} name="isbn"/></div>
			                        <input type="submit" class="myButton" value="Purchase" name="purchase">
			                    </form>
			                </div>

							{% endif %}

					</div>

			</div>


			{% endfor %}
			</div>
		</div>

		<script>
			$(function() {
				$('#sign-in').click(function() { 
					$('#sign-in-menu').toggleClass('visible');
				});	
			});
		</script>

	</body>
</html>