<html>
    <head>
        <title>Purchased</title>
		<link rel="stylesheet" href="../static/css/main.css">
    </head>
    	<div class="purchase"><a href="/overview/" class="purchase">Return to Home page</a><div>
    <body>
    	<header>    
                <div id="header-inner">
                    <div id="logo">
                        <a href="/overview/">bookXchange</a>
                    </div>
                </div>
        </header>
        <h3>Thanks!</h3>
        <p>Thank you for your BookXchange purchase.</p>
    </body>
</html>
​