<html>
    <head>
        <title>Purchased</title>
		<link rel="stylesheet" href="../static/css/main.css">
                <link rel="stylesheet" href="../static/css/signup.css">

    </head>
    <body>
    	<header>    
                <div id="header-inner">
                    <div id="logo">
                        <a href="/overview/">bookXchange</a>
                    </div>
                </div>
        </header>
        <div class="container">
            <div id="signup">
                <h3>Thanks!</h3>
                <p>Thank you for your BookXchange purchase.</p>
            </div>
        </div>
    </body>
</html>
​